* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }
  .wrapper {
    width: 100vw;
    height: 100vh;
    background-color:#ffffff;
    color:rgb(0, 0, 0);
  }

  .main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  /*.main img{
    width: 300px;
    border: 7px solid #dc3545
  }*/

.p-tecnologia {
  color: #dc3545;
}

.hab-text {
    color: #dc3545;
}

#experiencia {
margin-left: 0em;
font-size: 25px;
}

.wordpress {
  height: 70px;
  width: 70px;
}

.html {
  height: 70px;
  width: 70px;
}

.css {
  height: 70px;
  width: 70px;
}

.gra-habilidades {
width: 40%;
}

.gra-habilidades img {
  width: 100%;
}

.javascript {
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hab-title {
  width: 100%;
  text-align: center;
}

.container-options {
  margin-top: 35px;
}